.find-modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.18);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.find-modal-text {
  font-size: 1.2rem;
  font-weight: bold;
  color: #004984;
  margin-bottom: 16px;
  text-align: center;
}

.find-modal-popup {
  background: #fff;
  border-radius: 18px;
  border: 4px solid #004984;
  box-shadow: 0 8px 32px #0002;
  padding: 28px 32px 20px 32px;
  min-width: 320px;
  max-width: 90vw;
  text-align: center;
  position: relative;
  animation: fadeIn 0.5s;
}
.find-modal-btn {
  margin-top: 18px;
  padding: 8px 28px;
  background: #004984;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
}
.find-modal-btn:hover {
  background: #0077cc;
}
.find-blink-text {
  font-size: 1.25rem;
  color: #f44336;
  font-weight: bold;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 4px;
  animation: blinkText 1s steps(2, start) infinite;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px);}
  to { opacity: 1; transform: translateY(0);}
}
@keyframes blinkText {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

/* Style untuk masing-masing objek */
.obj-mobil-hitam {
  position: absolute;
  left: 555px;
  top: 368px;
  width: 90px;
  height: auto;
  z-index: 2;
  transition: transform 0.2s;
}
.obj-mobil-kuning {
  position: absolute;
  left: 160px;
  top: 365px;
  width: 90px;
  height: auto;
  z-index: 2;
  transition: transform 0.2s;
}
.obj-mobil-merah {
  position: absolute;
  left: 560px;
  top: 88px;
  width: 90px;
  height: auto;
  z-index: 2;
  transition: transform 0.2s;
}
.obj-motor {
  position: absolute;
  left: 235px;
  top: 58px;
  width: 55px;
  height: auto;
  z-index: 2;
  transition: transform 0.2s;
}
.obj-pengendara {
  position: absolute;
  left: 648px;
  top: 25px;
  width: 55px;
  height: auto;
  z-index: 2;
  transition: transform 0.2s;
}

.obj-mobil-kuning-particle {
  position: absolute;
  left: 257px;
  top: 298px;
  width: 100px;
  height: auto;
  z-index: 2;
  transition: transform 0.2s;
}

.obj-dua-orang {
  position: absolute;
  left: 240px;
  top: 300px;
  width: 20px;
  height: auto;
  z-index: 2;
  transition: transform 0.2s;
}

.obj-mobil-box {
  position: absolute;
  left: 175px;
  top: 58px;
  width: 90px;
  height: auto;
  z-index: 2;
  transition: transform 0.2s;
}